<h2>Mis Solares</h2>

<div>
	<label>Dirección del solar
    <input #direccionSolar />
  </label>
	<button (click)="add(direccionSolar.value); direccionSolar.value=''">
    add
  </button>
</div>

<ul class="Solares">
	<li *ngFor="let solar of solares">
		<a routerLink="/detail/{{solar.id}}">
			<span class="badge">{{solar.id}}</span>
			<a>{{solar.direccion.calle}}</a>
			<a *ngIf="solar.direccion.calle2!=null">-{{solar.direccion.calle2}}</a>
			<a>/{{solar.direccion.numero}}</a>
		</a>
		<button class="delete" title="delete solar"
      (click)="delete(solar)" style="color: black;">x</button>
	</li>
</ul>